name: Continuous Integration

on:
  pull_request:
    branches: [ main ]

jobs:
  ubuntu_build:
    runs-on: ubuntu-22.04
    env:
      CC: clang
    steps:
    - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
    - uses: cgrindel/gha_set_up_bazel@v1
      with:
        repo_name: gha_join_jobs
    - name: Test
      shell: bash
      run: |
        bazelisk test //...

  workflow_with_its_own_join:
    uses: ./.github/workflows/test_join.yml
    with:
      checkout_ref: ${{ github.ref }}

  another_job: 
    runs-on: ubuntu-22.04
    steps:
      - name: Succeed
        shell: bash
        run: |
          echo "All is well!"

  all_tests:
    runs-on: ubuntu-22.04
    needs: [ubuntu_build, workflow_with_its_own_join, another_job]
    if: ${{ always() }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          checkout_ref: ${{ github.head_ref }}
