name: Job Resolution Tests

on:
  workflow_dispatch: # allows manual triggering
  workflow_call: # allows call from another workflow
    inputs:
      checkout_ref:
        description: 'The GitHub reference to use for the checkout.'
        default: ''
        type: string

jobs:
  job1:
    runs-on: ubuntu-22.04
    steps:
    - name: Debug
      shell: bash
      run: |
        echo "Job 1"

  job2:
    runs-on: ubuntu-22.04
    env:
      CC: clang
    steps:
    - name: Debug
      shell: bash
      run: |
        echo "Job 2"

  job3:
    runs-on: ubuntu-22.04
    steps:
    - name: Debug
      shell: bash
      run: |
        echo "Job 3"
        exit 1

  all_tests:
    runs-on: ubuntu-22.04
    needs: [job1, job2, job3]
    if: ${{ always() }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
        with:
          ref: ${{ inputs.checkout_ref }}
      - uses: ./
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # checkout_ref: ${{ inputs.checkout_ref }}


