name: Job Resolution Tests

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-20.04
    steps:
    - name: Debug
      shell: bash
      run: |
        echo "Job 1"
        exit 1

  job2:
    runs-on: ubuntu-20.04
    env:
      CC: clang
    steps:
    - name: Debug
      shell: bash
      run: |
        echo "Job 2"

  job3:
    runs-on: ubuntu-20.04
    steps:
    - name: Debug
      shell: bash
      run: |
        echo "Job 3"
        exit 1

  all_tests:
    runs-on: ubuntu-20.04
    needs: [job1, job2]
    if: ${{ always() }}
    steps:
      - uses: actions/checkout@v2
      - uses: ./
        with:
          job_names: '["job1", "job2"]'
          github_token: ${{ secrets.GITHUB_TOKEN }}


